/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* General */

body{
    font-family: 'Open Sans', sans-serif;
}
/* Container */

.container {
    max-width: 1190px;
    margin: 0 auto;
}
/* middle */

.width {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 230px;
}

/* Flex classes */

.flex {
    display: flex;
}
.justify-content {
    justify-content: space-between;
}
.center {
    justify-content: center;
}
.align-items {
    align-items: center;
}
.baseline {
    align-items: baseline;
}
.space-around {
    justify-content: space-around;
}
.flex-direction {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.wrap {
    flex-wrap: wrap;
}
.flex-start {
    align-items: flex-start;
}
.flex-end {
    justify-content: end;
}

/* padding */
.padding {
    padding: 80px 200px;
}
/* custome styles */
.header {
    position: fixed;
    width: 100%;
    
}
.header-div {
    background-color: white;
     position: fixed;
     z-index: 99;
     width: 83%;
}
.nav-header {
    text-align: center;
    padding: 20px;
}
.nav-header a {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 4px;
    margin-left: 5px;
}
.nav-header i {
    font-size: 10px;
}
.span-nav {
    position: absolute;
    top: 0;
    left: 46%;
    border: 2px solid rgba(235, 81, 63, 1);
    width: 7%;
}
.nav-2 a {
    text-decoration: none;
    padding: 0px 20px;
    color: black;
}
.nav-2 .active {
    color: rgba(235, 81, 63, 1);
}
.logo {
    width: 16%;
}
.txt {
    color: rgba(235, 81, 63, 1);
    font-size: 30px;
    font-weight: bolder;
}
/* Hero section */

.hero-section {
    background-image: url(../assets/banner.jpeg);
    width: 100%;
    height: 90vh;
}
.hero-section h1 {
    font-size: 42px;
    color: white;
    margin-top: 230px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.span-sec-1 {
    width: 25%;
    border: 1px solid white;
}
.hero-section p {
    color: white;
    margin: 20px 0px;
}
.btn {
    background-color: rgba(235, 81, 63, 1);
    padding: 10px 20px;
    color: white;
}
/* section second */
.sec-2 {
     position: relative;
}
.slide-icon {
    width: 5px;
    height: 5px;
    color: black;
    border-radius: 50%;
    border: 2px solid grey;
    background-color: grey;
    margin-left: 10px;
    margin-top: 10px;
}
.dot-1 {
    background-color: black;
    border-color: black;
}
/* section third */

.box-1 {
    background-color: rgba(92, 189, 157, 1);
}
.box-2 {
    background-color: rgba(230, 126, 48, 1);
}
.box-3 {
    background-color: rgba(57, 152, 219, 1);
}
.box-4 {
    background-color: rgba(104, 206, 115, 1);
}
/* portfolio section */

.img {
    display: flex;
    flex-wrap: wrap;
    height: 540px;
}
/* heading and para */
.heading-2 {
    font-size: 26px;
    text-align: center;
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 10px;

}
.para {
    text-align: center;
    font-size: 14px;
    margin-bottom: 50px;
    font-size: small;
}

/* team section */

.member img {
    border-radius: 50%;
}
.heading-3 {
    font-size: 22px;
    font-weight: 200;
    margin-bottom: 10px;
    margin-top: 50px;
    text-align: center;
    font-style: italic;
}
.para-3 {
    font-style: italic;
    font-size: smaller;
    text-align: center;
    margin-bottom: 30px;
}
.para-italic {
    font-style: italic;
    margin-bottom: 20px;
}
.para-team {
    padding-right: 20px;
}
/* chart */
.chart-1 {
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
    background-color: gray;
    color: white;
}
.photoshop {
    width: 270px;
    height: 25px;
    background-color: rgba(235, 81, 63, 1);
    padding-top: 5px;
    padding-left: 5px;
}
.html {
    width: 240px;
    height: 25px;
    background-color: rgba(235, 81, 63, 1);
    padding-top: 5px;
    padding-left: 5px;
}
.development {
    width: 210px;
    height: 25px;
    background-color: rgba(235, 81, 63, 1);
    padding-top: 5px;
    padding-left: 5px;
}
.marketing {
    width: 240px;
    height: 25px;
    background-color: rgba(235, 81, 63, 1);
    padding-top: 5px;
    padding-left: 5px;
}
/* contact */

iframe {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}
.para-contact {
    flex: 0 1 60%;
}
.para-contact p {
    margin-bottom: 25px;
    font-size: small;
    line-height: 1.5;
}
.address p {
    margin-bottom: 0px;
}
.content-box {
    flex: 0 1 30%;
}
.inform-box {
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
}
.message {
    padding-bottom: 70px;
}
.content-box button {
    padding: 10px 102px;
    background-color: rgba(235, 81, 63, 1);
    color: white;
    border: none;
}
/* footer */
.btn-top a {
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: rgba(235, 81, 63, 1);
}

/* gallery.html */

.aside-gallery {
    width: 25%;
    height: 95vh;
    background-color: rgba(235, 81, 63, 1);
    color: white;
    padding: 20px 15px;
    position: fixed;
}
.aside-gallery h1 {
    font-size: 30px;
    color: white;
} 
.aside-gallery a {
    color: white;
    border: 1px solid white;
    text-decoration: none;
    padding: 5px 10px;
}
.aside-bottom h2 {
    font-size: 24px;
    margin-bottom: 25px;
}
.aside-bottom p {
    font-size: smaller;
    color: black;
    margin-bottom: 25px;
}
.nav-gallery a {    
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(235, 81, 63, 1);
    border: 1px solid white;
    color: white;
    padding: 4px;
    margin-right: 20px;
}
.nav-gallery i {
    font-size: 10px;
    padding: 5px;
}
/* right section */
.right-gallery {
    width: 75%;
    margin-left: 395px;
}
.right-gallery h3 {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    padding: 45px 0px;
}
.right-gallery img {
    width: 470px;
    margin: 20px 19px;
    align-self: stretch;
    object-fit: cover;
}